@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.vid-info {
  @include section-padding;
  &__title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    padding: 1.5rem 0 1rem;
    @include tablet {
      font-size: 2rem;
      padding: 2.25rem 0 1.5rem;
    }
    @include desktop {
      padding-bottom: 0rem;
    }
  }
  &__details {
    display: flex;
    justify-content: space-between;
  }
  &__details-group {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &--right {
      justify-content: flex-end;
    }
    @include tablet {
      flex-direction: row;
      padding: 1rem 0;
    }
    // desktop gird element padding
    @include desktop {
      padding-right: 1.5rem;
    }
  }
  // styling to apply to each detail item (alignment).
  &__details-item {
    &:nth-child(odd) {
      padding: 1rem 0;
      @include tablet {
        padding: 0;
      }
    }
    &:nth-child(even) {
      padding: 0 0 1rem;
      @include tablet {
        padding: 0 0 0 2rem;
      }
    }
  }
  // styling unique to individual detail items.
  &__author {
    font-weight: 600;
  }
  &__subtitle {
    color: $primary-mid;
    &--w-icon {
      margin-left: 0.5rem;
    }
  }
  //Video Description and comment count
  &__description {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
    @include tablet {
      padding: 1.5rem 0;
    }
    // desktop gird element padding
    @include desktop {
      padding-right: 1.5rem;
    }
  }
  &__comment-count {
    font-weight: 600;
    @include tablet {
      padding-bottom: 1.5rem;
    }
  }
}
