@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.vid-info {

  &__details {
    display: flex;
    justify-content: space-between;
  }
  &__details-group {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
    &--right {
      justify-content: flex-end;
    }
  }
}