@use "./typography";
@use "./resets";
@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: Avenir-local, Arial, Helvetica, sans-serif;
}

.main-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding: 1.5rem 0 1rem;
  @include tablet {
    font-size: 2rem;
    padding: 2.25rem 0 1.5rem;
  }
  @include desktop {
    padding-bottom: 0rem;
  }
}

.text-input-field {
  @include input-styling(100%, 0.25rem);
  display: block;
  resize: none;
  height: 6rem;
  color: $primary-dark;
  @include tablet {
    height: 3.5rem;
    // overflow: hidden;
  }
  &--fixed-small {
    height: 3.5rem;
  }
  &--multi-line {
    height: 6rem;
    scroll-behavior: auto;
    @include tablet {
      margin-bottom: 2rem;
    }
    @include desktop {
      height: auto;
    }
  }
  &:focus {
    border: 1px solid $primary-dark;
  }
  &:user-invalid {
    border: 1px solid $error-color;
  }
  &::placeholder {
    color: $primary-dark;
    opacity: 1;
  }
}

// divide lines
.divide-line {
  border-bottom: 1px solid $alt-mid;
  width: 100%;
  // hide line after last comment in desktop view
  &:last-child {
    @include desktop {
      display: none;
    }
  }
  // Hide line below video title outside mobile view.
  &--mobile {
    @include tablet {
      display: none;
    }
  }
  &--upload-page {
    display: none;
    @include tablet {
      display: block;
    }
  }
}
