@use "./typography";
@use "./resets";
@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: Avenir-local, Arial, Helvetica, sans-serif;
}

// divide lines
.divide-line {
  border-bottom: 0.125rem solid $alt-mid;
  width: 100%;
  
  // Hide line below video title outside mobile view.
&--mobile {
  @include tablet {
    display: none;
  }
}
}