@use "../../styles/partials/variables.scss" as *;


@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin section-padding {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2.25rem;
  }
  @include desktop {
    padding: 0 3.5rem;
  }
}

@mixin btn-styling($fontsz, $padding) {
  font-size: $fontsz;
  color: $primary-light;
  background-color: $primary-color;
  width: 100%;
  color: $primary-light;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  padding: $padding;
  border: none;
  &:hover {
    background-color: $alt-color;
  }
}
@mixin btn-icon {
  position: absolute;
  left: 1rem;
  top: .75rem;
  width: 2rem;
  // border: solid 2px lime;
}

@mixin input-styling($width, $indent) {
  border-radius: 0.25rem;
  width: $width;
  min-height: 2.25rem;
  font-family: Avenir-local, Arial, Helvetica, sans-serif;
  border: 1px solid $alt-mid;
  background-color: $alt-light;
  font-size: 1rem;
  text-indent: $indent;
  padding: .75rem;
  @include tablet {
    padding: 1rem;
  }
}