@use "../../styles/partials/variables.scss" as *;


@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}
@mixin btn-styling($fontsz, $padding) {
  font-size: $fontsz;
  color: $primary-light;
  background-color: $primary-dark;
  width: 100%;
  color: $primary-light;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 8px;
  padding: $padding;
  border: none;
}