// Primary colors
$primary-dark: #323232;
$primary-color: #0095ff;
$primary-mid: #AFAFAF;
$primary-light: #FFFFFF;

// Alternate colors
$alt-dark: #000000;
$alt-color: #0065AD;
$alt-mid: #e1e1e1;
$alt-light: #FAFAFA;