@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.header {
  margin: 1.5rem 0 1rem;
  @include section-padding;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  @include desktop {
    padding: 0 3.5rem;
  }
  &__right-controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include tablet {
      flex-wrap: nowrap;
      flex-grow: 1;
      justify-content: flex-end;
    }
  }
  // Set profile image size here to scale together with search bar.
  $profile-img-size: 3.25rem;
  &__input {
    background: url(../../assets/icons/search.svg) no-repeat 0.5rem 0.75rem;
    background-size: 1.25rem;
    @include input-styling(calc(100% - ($profile-img-size + 1rem)), 1.5rem);
    @include tablet {
      background-position: 0.5rem 1rem;
      @include input-styling(50%, 1.5rem);
    }
  }
  &__profile-image {
    border-radius: 50%;
    width: $profile-img-size;
    height: $profile-img-size;
    margin-left: 1rem;
    object-fit: cover;
    object-position: 25%;
    @include tablet {
      order: 4;
    }
  }
  &__btn {
    @include btn-styling(1rem, 1rem);
    position: relative;
    margin: 1.5rem 0 0;
    text-align: center;
    @include tablet {
      width: 12rem;
      margin: 0rem 0 0rem 1.5rem;
    }
  }
  &__logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: .5rem;
    @include tablet {
      width: 30%;
      justify-content: flex-start;
    }
  }
  &__logo {
    width: 7.5rem;
    // padding: 1.5rem 0;
  }
  &__icon {
    @include btn-icon;
  }
}
