@use "../../styles/partials/typography.scss";
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/global.scss";

.header {
display: flex;
justify-content: space-between;
padding: 2rem 0;
  &__right-controls {
    display: flex;
    align-items: center;
  }
  &__profile-image {
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
  }
  &__logo {
width: 7.5rem
  }
}