@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins.scss" as *;

.list-item {
  display: flex;
  padding: 1rem 0 0;

  @include tablet {
    width: 25rem;
  }
  @include desktop {
    width: 100%;
  }
  &__img {
    width: 30vw;
    max-width: 10rem;
    border-radius: 0.5rem;
    background-color: $alt-mid;
    color: transparent;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1rem;
    @include desktop {
      padding: 0 0 0 1rem;
    }
  }
  &__title {
    font-style: none;

    &--bold {
      font-weight: 600;
    }
  }
}
.link {
  text-decoration: none;
  color: $primary-dark;
}
